.root {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid var(--lines-color);

    background-color: var(--card-bg-color);
}

.sidebarExtension {
    display: flex;
    align-self: stretch;
    align-items: center;
    border-right: 1px solid var(--lines-color);
    padding-right: 2rem;
}

.content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

    color: var(--body-text-color);
}

.actions {
    margin-left: auto;
}