html {
  --card-bg-color: #2b2c37;
  --body-text-color: #ffffff;
  --subtitle-color: #828fa3;
  --lines-color: #3e3f4e;
  --bg-color: #20212c;
}


body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}